/* reset rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

ol,
ul {
  list-style: none;
}


.user{
  cursor: pointer;
}

.hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.show {
  transition: max-height 0.8s;
  max-height: 400px;
}
